<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--是否加密  默认加密   0是不加密-->
  <add key="IsEncrypt"  value="0"/>
  <!--是否本地调试 发布别配置-->
  <add key="IsDeBug"  value="1"/>
  <add key="StartScheduler"  value="false"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--日志配置-->
  <add key="logConfigPath" value="~/configs/log4net.config" />
</appSettings>


