<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EFModel" connectionString="Data Source=127.0.0.1;Initial Catalog=DapperExtensionsDemo;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" 
       connectionString="Data Source=127.0.0.1;Initial Catalog=DapperExtensionsDemo;uid=sa;pwd=123;Pooling=true;MAX Pool Size=256;Min Pool Size=1"  
       providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" 
       providerName="System.Data.SqlClient" 
       connectionString="server=127.0.0.1;Initial Catalog=Test;uid=sa;pwd=123;Pooling=true;MAX Pool Size=256;Min Pool Size=1;Connect Timeout=500" />
</connectionStrings>
